# Dataset and model weights
data/*
!data/predictions/
!data/image_metrics.csv
!data/bdd100k_coco/
data/bdd100k_coco/*
!data/bdd100k_coco/valid/
data/bdd100k_coco/valid/*
!data/bdd100k_coco/valid/_annotations.coco.json
data/predictions/*
!data/predictions/eval_results.pkl
!data/predictions/val_predictions.csv
!data/predictions/val_predictions.json
*.pth
*.pt
*.onnx
*.bin
*.safetensors

# Training outputs
runs/

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
.venv/
.pytest_cache/
dist/
build/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Environment
.env
