data/predictions/val_predictions.csv filter=lfs diff=lfs merge=lfs -text
data/predictions/val_predictions.json filter=lfs diff=lfs merge=lfs -text
data/bdd100k_coco/valid/_annotations.coco.json filter=lfs diff=lfs merge=lfs -text
